.course-card-container {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 1.5px 3px 0 #00000091;
    border-left: 8px solid black;
    border-radius: 6px;
}

.course-card-info-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #CFCFCF;
}

.course-card-info {
    display: grid;
    grid-template-columns: 60% 20px auto;
}
.course-card-button-container {
    display: flex;
    justify-content: space-between;
}

.course-card-property {
    font-weight: bold;
    padding-right: 8px;;
}

.course-card-border {
    height: 100%;
    margin: 0 auto;
    width: 1px;
    background-color: #CFCFCF;
}