.registration-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
}

.registration-card {
    background-color: white;
    padding: 50px;
    border: 1px solid #cfcfcf;
}

.registration-property-name {
    font-weight: bold;
    margin-bottom: 0;
}

.registration-login {
    margin-left: 5px;
    font-weight: bold;
}

.registration-login-button {
    margin-top: 16px;
}

.registration-property-error-name {
    font-weight: bold;
    margin-bottom: 0;

}